

<section class="signup">
  <div class="signup__box">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :first_name, autofocus: true, placeholder: 'First Name', class:'signup__input'%>
      </div>

      <div class="field">
        <%= f.text_field :last_name, autofocus: true, placeholder: 'Last Name', class:'signup__input'%>
      </div>

      <div class="field">        
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class:'signup__input' %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class:'signup__input' %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password', class:'signup__input' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:'signup__button' %>
      </div>
      
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</section>