<% if @pending_friends %>
    <h1>Pending</h1>
    <% @pending_friends.each do |pending| %>
        <ul>
        
            <li><%= pending.first_name %> || <%= link_to 'Delete Friend Request', invitation_path(pending.requests.where(invitee_id: current_user.id).first.id), method: :delete %> </li> 
        </ul>
    <% end %>
<% end %>

<% if @friends %>
    <h1>Friends</h1>
    <% @friends.each do |friend| %>
        
        <ul>
            <li><%= friend.first_name %> </li> 
        </ul>
    <% end %>
<% end %>

<% if @other_people %>
    <h1> Unknown People! </h1>
    <% @other_people.each do |person| %>
        
        <ul>
            <li><%= person.first_name%> |
            <form id="new_invitation"action="/invitations" method="post" accept-charset="UTF-8" name="invitation">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                <input type="hidden" name ="invitation[invitee]" value ="<%= current_user.id %>"  >

                <input type="hidden" name ="invitation[invited]" value ="<%= person.id %>">
                
                <input type="submit" value="Invite the fool!"  >
            </form>
            </li> 
        </ul>
    <% end %>
<% end %>

<h1>Friend Requests:</h1>
<% unless @accept_friends.empty? %>
    <ul>
    <% @accept_friends.each do |user| %>
    <li> <%= user.first_name %> | <%= link_to 'accept friendship', invitation_path(user.invitations.where(invited: current_user).first.id), method: :patch %> </li> 
    <% end %>
    </ul>
<% end %>
