<h1><%= @user.first_name %>'s</h1>
<% if @user == current_user %>
  <%= form_for @post do |f| %>
    Enter Title: <%= f.text_field :title %>
    Enter Post: <%= f.text_field :body %>
    <%= f.submit%>
  <% end %>
<% end %>
<h2>User's latest posts</h2>
<% unless @posts.empty? %>
  <ul>
<% @posts.each do |post| %>
  <li> <%= post.title%> | <%= post.body%> </li>

  Comments: 
  <% post.comments.each do |comment| %>
    <ul>
      <li> <%= comment %>  </li>
    </ul>

<% end %>
  </ul>
<% end %>
