<main class="main-profile">

  <div class="profile">
    <div class='profile__title'><%= image_tag @user.image %><h1><%= @user.first_name %>'s Profile</h1>
    </div>

    <% if current_user == @user %>
    <div class="profile__box">
      <%= form_for @profile, html: {class: "edit_profile"} do |f| %>
      <ul>
        <li> <%= f.text_field :city, class:"input-box", placeholder: 'City' %></li>
        <li> <%= f.text_field :state, class:"input-box", placeholder: 'State' %></li>
        <li> <%= f.text_field :country, class:"input-box", placeholder: 'Country' %></li>
        <li> <%= f.text_field :gender, class:"input-box", placeholder: 'Gender' %></li>
        <li> <%= f.text_field :birth_date, class:"input-box", placeholder: 'Birthday' %></li>
        <li> <%= f.text_field :phone_number, class:"input-box", placeholder: 'Phone Number' %></li>
        <li class="butto"> <%= f.submit %> </li>
      </ul>
      <%end%>
    </div>
    <% else %>
    <div class="profile__box">
      <p> City: <%= @profile.city  || "empty"%> <br></p>
      <p> State: <%= @profile.state  || "empty"%> <br></p>
      <p> Country: <%= @profile.country  || "empty"%> <br></p>
      <p> Gender: <%= @profile.gender  || "empty"%> <br></p>
      <p> Birth Date: <%= @profile.birth_date  || "empty"%> <br> </p>
      <p>Phone Number: <%= @profile.phone_number || "empty"%> <br> </p>
    </div>
    <% end %>
  </div>

  <!-- the main content part -->


  <div class="main-profile__content">
    <% if current_user==@user %>
    <%= render partial: 'shared/post_create', locals: {post: @post, source: @user.id} %>
    <% end %>

    <h2>User's latest posts</h2>
    <%= render  partial: 'shared/posts', locals: {posts: @posts, source: @user.id} %>
  </div>

</main>