<section class="timeline">
  <div class="timeline__new-post">
    <h1>Create a new post!</h1>

    <%= form_for @post do |f| %>
    <%= hidden_field_tag :timeline %>
    <table>
      <tr>
        <td>
          <%= f.text_area :title, cols:"60", rows:"1", placeholder:"Name your post!", class: "timeline__new-post--title" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.text_area :body, rows: "5", cols:"60", placeholder:"What's on your mind?", class: "timeline__new-post--box" %>
        </td>
      </tr>
    </table>
    <%= f.submit class:"timeline__new-post--button"%>
    <% end %>
  </div>


  <% @posts.each do |post| %>
  <article class="timeline__posts">
    <div class="timeline__posts__gen-info">
      <%= image_tag post.author.image %>
      <div class="timeline__posts__gen-info__left">
        <span><%= post.author.name %></span>
        <span><%= post.since? %></span>
      </div>
    </div>
    <div class="timeline__posts__post-details">
      <h2><%= post.title %></h2>
      <p><%= post.body%></p>
    </div>
    <div class="timeline__posts__statistics">
      <span>
        <%= post.nb_likes %>
      </span>
      <span>
        <%= post.nb_comments %>
      </span>
    </div>
    <div class="timeline__posts__buttons">
      <% if !post.like_id(current_user.id) %>
      <form id="new_like" action="/likes" method="post" accept-charset="UTF-8" name="like">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="like[post_id]" value=<%= post.id %> />
        <input type="hidden" name="like[user_id]" value=<%= current_user.id %> />
        <button type="submit">
          <%= icon('fas', 'thumbs-up') %> Like
        </button>
      </form>
      <% else %>
      <%= form_with(url: "/likes/#{post.like_id(current_user.id)}", method: 'delete') do %>
      <%= hidden_field_tag(:source, 'timeline') %>
      <button type="submit">
        <%= icon('fas', 'thumbs-down') %> Unlike
      </button>
      <% end %>
      <% end %>
      <button class="comment-expand">Comment</button>
    </div>
    <div class="timeline__posts__comment-section">
      <div class="timeline__posts__comment-section__inline-form">
        <%= image_tag post.author.image %>
        <form id="new_comment" action="/comments" method="post" accept-charset="UTF-8" name="comment">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="comment[post_id]" value=<%= post.id %>>
          <input type="hidden" name="timeline" value="true">
          <input type="text" id="body" name="comment[body]" placeholder="Add a comment here!">
          <input type="submit" value="Add comment">
        </form>
      </div>
      <div class="timeline__posts__comment-section__comments">
        <% post.comments.each do |comment| %>
        <div class="timeline__posts__comment-section__comments__single">
          <%= image_tag comment.commenter.image%>
          <p>
            <%= comment.body %>
          </p>
          <% if comment.commenter == current_user %>
          <%= link_to icon('far', 'trash-alt'),  tim_com_del_path(comment.id),{controller: "comments", action: "dest"}%>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </article>
  <% end %>
</section>