<% @posts.each do |post| %>
    <%= post.title %> | <%= post.body %> | <%= post.author.first_name %> | <%= post.created_at %> 
    <% if post.likers.include?(current_user) %>
        <p>Post Liked <%= link_to 'unlike', destruction_path(post.likes.where(liker_id: current_user.id).first.id), {controller: 'likes', action: 'delete'}%> </p>
    <% else %>
    <form id="new_like" action="/likes" method="post" accept-charset="UTF-8" name="like">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="like[post_id]" value=<%= post.id %>>
        <input type="hidden" name="like[user_id]" value=<%= current_user.id %>>
        <input type="hidden" name="like[source]" value=<%= @user ? 'profile' : 'timeline' %>>        
        <input type="submit" value="Like">
    </form>  
    <% end %>  <br>
<% end %>