<header>
  <div class="drop-toggler">
  <label for="drop-nav"></label>
  </div>
  <input id="drop-nav" type="checkbox" />       
  <nav class="nav-left">
    <ul>
    <% if user_signed_in? %>
      <li> <%= link_to 'Home', posts_path %> </li>
      <li> <%= link_to 'Profile', user_path(current_user) %> </li>
      <li> <%= link_to 'Friend Requests (' + pending_friends.to_s+")", users_path %> </li>
      <li> 
        <%= link_to 'Notifications', notifications_index_path %> 
        <ul class="dropdown">
          <% if get_notif.empty? %>
                <li>No notifications yet</li>
          <% else %>
                <% notifications = get_notif %>
                <% notifications.each do |notification| %>
                  <li class="dropdown__item"> <%= notification.message %> </li>
                <% end %>
          <% end %>
        </ul>
        <li class="logout-mobile"> 
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        </li>
      </li>
    <% end %>
      
      
    </ul>
  </nav>
  <div class="nav-right">
    <% if user_signed_in?%>
      <a href="" class="drop-btn"><%= image_tag current_user.image %></a>
      <ul class="drop-box">
        <li> Welcome again <%= current_user.first_name %> </li>                
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      </ul>
    <% end %>         
  </div>
      
</header>