<header>
        
        <nav class="nav-left">
          <ul>
          <% if user_signed_in? %>
            <li> <%= link_to 'Profile', user_path(current_user) %> </li>
            <li> <%= link_to 'Friend Requests:' + pending_friends.to_s, users_path %> </li>
            <li> <%= link_to 'Home', posts_path %> </li>
            <li> <%= link_to 'Notifications', notifications_index_path %> </li>
          <% end %>
            
            
          </ul>
        </nav>
        <nav class="nav-right">
          <% if user_signed_in?%>
            <ul>
              <li> Welcome again <%= current_user.first_name %> </li>  
              <% if cookies[:facebook_avatar] %>
                <li><%= image_tag cookies[:facebook_avatar] %> </li>
              <% else %>
                <li><%= gravatar_for(current_user) %></li>
              <% end %>              
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            </ul>
          <% end %>         
        </nav>
      </header>